
body {
  background-color: #f51111; /* Color de fondo */
  color: rgb(223, 111, 0); /* Color de texto */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.App {
  text-align: center;
}

.Heading {
  color: #d10000; /* Color del título */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #e62d2d;
}

th {
  background-color: #d10fc7;
}

td {
  background-color: #5bda12;
}

button {
  background-color: #006fb9;
  color: black;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
